body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 { color: rgb(183, 0, 0); }
h2 { color: rgb(0, 128, 79); }